.parent {
    margin: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    grid-template-rows: 150px 1fr 100px;
    border: 1px black solid;
    border-radius: 50px;
}

.head {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}

.title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px rgb(3, 3, 81) solid;
    border-right: 1px rgb(3, 3, 81) solid;
    padding: 5px 10px 0;
    grid-column: span 1;
    text-align: center;
    border-radius: 20px;
}

.nav-bar {
    grid-column: 3/4;
}

ol {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;

}

li {
    margin: 10px 20px;
    font-size: 40px;
    border-bottom: 0.5px black solid;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.content {
    border-top: 2px black solid;
    grid-column: span 3;
    background-color: rgb(247, 246, 238);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    justify-content: space-around;
    padding: 20px;
}

.item {
    height: 650px;
    width: 550px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 20px;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    border: 1px black solid;
}

.item div {
    width: 94%;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(3, 3, 81);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 15px;
    left: 6px;
    cursor: pointer;
}